.shop-section{
    display: grid;
    grid-template-columns: 4fr 1fr ;
}

.cart-container{
    border: 1px solid red;
}

.shop-container{
    border: 1px solid rgb(255, 40, 40);
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    gap:20px;
 
               
        
}